<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create News</title>
</head>
<body>
    {% load static %}
    <link rel="stylesheet" target="_blank" href="{% static 'css/base.css' %}">
    <form action="/news/create/" method="post">{% csrf_token %}
        <p>News Title</p>
        <input type="text" name="news_title">
        <p>News Body</p>
        <input type="text" name="news_body">
        <button type="submit">Post news</button>
    </form>
    <a target="_blank" href="/news/">Return to the main page</a>
</body>
</html>
